* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #e5ebed;
}

.container-ppal {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.txt-inicial {
    color: white;
    background-color: #19284C;
    border-radius: 15px;
    width: 300px;
    font-size: 12px;
    padding: 10px;
}

.titulo-ppal {
    font-size: 25px;
}

.container-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.card {
    width: 150px;
    height: 210px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.color {
    width: 90%;
    height: 80%;
    border-radius: 5px;
}

.color1 {
    background-color: #EEEDF0;
}

.color2 {
    background-color: #A1B5C1;
}

.color3 {
    background-color: #F9ACA7;
}

.card-color3 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 12px;
    font-weight: bold;
}

.color4 {
    background-color: #68747D;
}

.color5 {
    background-color: #CF365F;
}


.container-generate-palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-violeta {
    width: 300px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    padding: 16px 0;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.txt-final {
    font-size: 13px;
    color: #252525;
}

.boton-blanco {
    background-color: white;
    border-radius: 15px;
    width: 320px;
    font-size: 12px;
    color: #606060;
    padding: 10px;
    margin-bottom: 80px;
}