* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-card {
    display: flex;
    width: 650px;
    height: 250px;
    border: 1px solid grey;
}

.container-img {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.img-poster {
    width: 150px;
}

.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    margin: 10px;
    flex-grow: 2;
}

.titulo {}

.txt-info {
    flex-grow: 1;
}

.txt-genero {}